{% extends "EkynaSurveyBundle::base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ survey.title }}</h1>

                <hr>

                <form action="{{ path('ekyna_survey_complete', {'slug': survey.slug}) }}" method="post">

                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ form_rest(form) }}

                    <hr>

                    {{ ui_form_footer(form) }}
                </form>

            </div>
        </div>

    </div>

{% endblock body %}