{% extends "EkynaCmsBundle::base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ cms_flashes() }}
            {{ cms_breadcrumb() }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if survey is defined and form is defined %}
                <h1>{{ survey.title }}</h1>
                <div>{{ survey.description|raw }}</div>
                <hr>
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            {% else %}
                <p class="alert alert-info">There is currently no survey available. Please, try again later !</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}