{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_survey.survey.header.show'|trans({'%name%': survey})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(survey, 'list') }}
{{ admin_resource_btn(survey, 'new') }}
{% endblock %}

{% block main %}
<div class="actions">
    {{ ui_button('ekyna_survey.survey.button.reset', {'type': 'link', 'path': path('ekyna_survey_survey_admin_reset', {'surveyId': survey.id}), 'theme': 'warning'}) }}
    {{ admin_resource_btn(survey, 'edit') }}
    {{ admin_resource_btn(survey, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#survey-survey-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
        <li><a href="#survey-survey-questions" data-toggle="tab">{{ 'ekyna_survey.question.label.plural'|trans }}</a></li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="survey-survey-general">
                {{ show_row(survey.name, 'text', 'ekyna_core.field.name') }}
                {{ show_row(survey.title, 'text', 'ekyna_core.field.title') }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(survey.startDate, 'datetime', 'ekyna_core.field.start_date', {'label_nb_col': 4, 'widget_nb_col': 8, 'date_format': 'full', 'time_format': 'none'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(survey.endDate, 'datetime', 'ekyna_core.field.end_date', {'label_nb_col': 4, 'widget_nb_col': 8, 'date_format': 'full', 'time_format': 'none'}) }}
                    </div>
                </div>
                {{ show_row(path('ekyna_survey_survey_admin_tinymce', identifiers|merge({'surveyId': survey.id})), 'tinymce', 'ekyna_core.field.description') }}
            </div>
            <div class="tab-pane" id="survey-survey-questions">
                {{ render_survey_results(survey) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynasurvey/css/survey-results.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}